body{
  background-color: #f7e7ce;
  font-size: 2rem;
}
#paragraph_hidden{
  display: none;
}
section,
form div
{
  margin: 0 auto;
  width: 50vw;
}
button{
  display: inline-block;
  margin: 1rem;
  border-radius: 5px;
  background-color: #6b8e23;
  border: #6b8e23;
  color: #fff;
}
button:hover{
  scale: 1.1;
  opacity: .9;
}
form div{
  display: flex;
  justify-content: center;
  align-items: center;

}
#your_number{
  display: block;
  margin: 1rem auto;
}
p{
  font-family: 'Josefin Sans', sans-serif;
  text-align: center;
}
#introduction_phrase{
  font-family: 'Pacifico', cursive;
}
#demo,
#display_the_answer,
#paragraph_hidden{
  color: #8e2338;
  font-weight: bold;
  font-size: 1.5rem;
}
input{
  border-radius: 5px;
  background-color: inherit;
  text-align: center;
  border: 2px solid #6b8e23;
}
@media all and (max-width: 600px) {
  body{
    font-size: 1.5rem;
  }
}
